## **House Prices: Advanced Regression Techniques**

## **Feature Selection / Engineering**

## **Import Libraries**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
df = pd.read_csv('df_for_feature_engineering.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,4.189655,9.042040,Pave,Reg,Lvl,3,Inside,Gtl,...,4.127134,0.000000,0.0,0.0,0.0,0.000000,Feb,2008,WD,Normal
1,20,RL,4.394449,9.169623,Pave,Reg,Lvl,3,FR2,Gtl,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,May,2007,WD,Normal
2,60,RL,4.234107,9.328212,Pave,IR1,Lvl,3,Inside,Gtl,...,3.761200,0.000000,0.0,0.0,0.0,0.000000,Sep,2008,WD,Normal
3,70,RL,4.110874,9.164401,Pave,IR1,Lvl,3,Corner,Gtl,...,3.583519,5.609472,0.0,0.0,0.0,0.000000,Feb,2006,WD,Abnorml
4,60,RL,4.442651,9.565284,Pave,IR1,Lvl,3,FR2,Gtl,...,4.442651,0.000000,0.0,0.0,0.0,0.000000,Dec,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,160,RM,3.091042,7.568896,Pave,Reg,Lvl,3,Inside,Gtl,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,Jun,2006,WD,Normal
2915,160,RM,3.091042,7.546974,Pave,Reg,Lvl,3,Inside,Gtl,...,3.218876,0.000000,0.0,0.0,0.0,0.000000,Apr,2006,WD,Abnorml
2916,20,RL,5.081404,9.903538,Pave,Reg,Lvl,3,Inside,Gtl,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,Sep,2006,WD,Abnorml
2917,85,RL,4.143135,9.253591,Pave,Reg,Lvl,3,Inside,Gtl,...,3.496508,0.000000,0.0,0.0,0.0,6.552508,Jul,2006,WD,Normal
2918,60,RL,4.317488,9.172431,Pave,Reg,Lvl,3,Inside,Mod,...,3.891820,0.000000,0.0,0.0,0.0,0.000000,Nov,2006,WD,Normal

## **Drop Feature**

In [ ]:
df = df.drop(['YrSold',
 'LowQualFinSF',
 'MiscVal',
 'BsmtHalfBath',
 'BsmtFinSF2',
 '3SsnPorch',
 'MoSold'],axis=1)

In [ ]:
quan = list(df.loc[:,df.dtypes != 'object'].columns.values)
quan

['MSSubClass',
 'LotFrontage',
 'LotArea',
 'Utilities',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'HeatingQC',
 '1stFlrSF',
 '2ndFlrSF',
 'GrLivArea',
 'BsmtFullBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 'ScreenPorch',
 'PoolArea']

In [ ]:
skewd_feat = ['1stFlrSF',
 '2ndFlrSF',
 'BedroomAbvGr',
 'BsmtFinSF1',
 'BsmtFullBath',
 'BsmtUnfSF',
 'EnclosedPorch',
 'Fireplaces',
 'FullBath',
 'GarageArea',
 'GarageCars',
 'GrLivArea',
 'HalfBath',
 'KitchenAbvGr',
 'LotArea',
 'LotFrontage',
 'MasVnrArea',
 'OpenPorchSF',
 'PoolArea',
 'ScreenPorch',
 'TotRmsAbvGrd',
 'TotalBsmtSF',
 'WoodDeckSF']
#  '3SsnPorch',  'BsmtFinSF2',  'BsmtHalfBath',  'LowQualFinSF', 'MiscVal'

In [ ]:
# Decrease the skewness of the data
for i in skewd_feat:
    df[i] = np.log(df[i] + 1)
    
SalePrice = np.log(train['SalePrice'] + 1)

In [ ]:
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,ScreenPorch,PoolArea,SaleType,SaleCondition
0,60,RL,1.646667,2.306780,Pave,Reg,Lvl,3,Inside,Gtl,...,3,3,2,0.000000,1.634547,0.000000,0.0,0.0,WD,Normal
1,20,RL,1.685370,2.319405,Pave,Reg,Lvl,3,FR2,Gtl,...,3,3,2,1.902174,0.000000,0.000000,0.0,0.0,WD,Normal
2,60,RL,1.655196,2.334879,Pave,IR1,Lvl,3,Inside,Gtl,...,3,3,2,0.000000,1.560500,0.000000,0.0,0.0,WD,Normal
3,70,RL,1.631370,2.318892,Pave,IR1,Lvl,3,Corner,Gtl,...,3,3,2,0.000000,1.522467,1.888504,0.0,0.0,WD,Abnorml
4,60,RL,1.694266,2.357574,Pave,IR1,Lvl,3,FR2,Gtl,...,3,3,2,1.834610,1.694266,0.000000,0.0,0.0,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,160,RM,1.408800,2.148139,Pave,Reg,Lvl,3,Inside,Gtl,...,0,0,2,0.000000,0.000000,0.000000,0.0,0.0,WD,Normal
2915,160,RM,1.408800,2.145577,Pave,Reg,Lvl,3,Inside,Gtl,...,3,3,2,0.000000,1.439569,0.000000,0.0,0.0,WD,Abnorml
2916,20,RL,1.805236,2.389087,Pave,Reg,Lvl,3,Inside,Gtl,...,3,3,2,1.968973,0.000000,0.000000,0.0,0.0,WD,Abnorml
2917,85,RL,1.637663,2.327628,Pave,Reg,Lvl,3,Inside,Gtl,...,0,0,2,1.685370,1.503301,0.000000,0.0,0.0,WD,Normal
2918,60,RL,1.671001,2.319681,Pave,Reg,Lvl,3,Inside,Mod,...,3,3,2,1.832945,1.587564,0.000000,0.0,0.0,WD,Normal

In [ ]:
obj_feat = list(df.loc[:, df.dtypes == 'object'].columns.values)
print(len(obj_feat))

obj_feat

23

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'Foundation',
 'Heating',
 'CentralAir',
 'Electrical',
 'GarageType',
 'SaleType',
 'SaleCondition']

In [ ]:
# dummy varaibale
dummy_drop = []
for i in obj_feat:
    dummy_drop += [i + '_' + str(df[i].unique()[-1])]

df = pd.get_dummies(df, columns = obj_feat)
df = df.drop(dummy_drop, axis = 1)

In [ ]:
df.shape

(2919, 188)

In [ ]:
# scaling dataset with robust scaler
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(df)
df = scaler.transform(df)

## **Model Bulding**

In [ ]:
train_len = len(train)
X_train = df[:train_len]
X_test = df[train_len:]
y_train = SalePrice

print("Shape of X_train: ", len(X_train))
print("Shape of X_test: ", len(X_test))
print("Shape of y_train: ", len(y_train))

Shape of X_train:  1460
Shape of X_test:  1459
Shape of y_train:  1460

## **Cross Validation**

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import make_scorer, r2_score

def test_model(model, X_train=X_train, y_train=y_train):
    cv = KFold(n_splits = 3, shuffle=True, random_state = 45)
    r2 = make_scorer(r2_score)
    r2_val_score = cross_val_score(model, X_train, y_train, cv=cv, scoring = r2)
    score = [r2_val_score.mean()]
    return score

## **Linear Mode**

In [ ]:
import sklearn.linear_model as linear_model
LR = linear_model.LinearRegression()
test_model(LR)

[0.8546587322095829]

In [ ]:
rdg = linear_model.Ridge()
test_model(rdg)

[0.8880649261169055]

In [ ]:
lasso = linear_model.Lasso(alpha=1e-4)
test_model(lasso)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.456e+00, tolerance: 1.503e-02
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.294e+00, tolerance: 1.575e-02
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.649e+00, tolerance: 1.578e-02
  model = cd_fast.enet_coordinate_descent(

[0.8838998596394787]

## **Support Vector Machine**

In [ ]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf')
test_model(svr)

[0.8830460865860394]

## **Svm Hyper Parameter Tuning**

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
params = {'kernel': ['rbf'],
         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
         'C': [0.1, 1, 10, 100, 1000],
         'epsilon': [1, 0.2, 0.1, 0.01, 0.001, 0.0001]}
rand_search = RandomizedSearchCV(svr_reg, param_distributions=params, n_jobs=-1, cv=11)
rand_search.fit(X_train, y_train)
rand_search.best_score_

0.8992802170437855

In [ ]:
rand_search.best_estimator_

SVR(C=10, epsilon=0.0001, gamma=0.001)

In [ ]:
svr_reg1=SVR(C=10, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.001,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
test_model(svr_reg1)

[0.8879819130252286]

In [ ]:
svr_reg= SVR(C=100, cache_size=200, coef0=0.0, degree=3, epsilon=0.01, gamma=0.0001,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
test_model(svr_reg)

[0.9002022271963552]

## **XGBoost**

In [ ]:
import xgboost
#xgb_reg=xgboost.XGBRegressor()
xgb_reg = xgboost.XGBRegressor(bbooster='gbtree', random_state=51)
test_model(xgb_reg)

[14:28:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:28:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:28:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

[0.881713202690146]

In [ ]:
xgb2_reg=xgboost.XGBRegressor(n_estimators= 899,
 mon_child_weight= 2,
 max_depth= 4,
 learning_rate= 0.05,
 booster= 'gbtree')

test_model(xgb2_reg)

[14:29:02] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:29:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:29:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

[0.8901263417593314]

## **Solution**

In [ ]:
xgb2_reg.fit(X_train,y_train)
y_pred = np.exp(xgb2_reg.predict(X_test)).round(2)
submit_test = pd.concat([test['Id'],pd.DataFrame(y_pred)], axis=1)
submit_test.columns=['Id', 'SalePrice']
submit_test.to_csv('sample_submission.csv', index=False)
submit_test

[14:42:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

        Id      SalePrice
0     1461  124437.382812
1     1462  168348.343750
2     1463  192742.093750
3     1464  194002.046875
4     1465  182459.687500
...    ...            ...
1454  2915   80620.578125
1455  2916   83680.359375
1456  2917  144861.093750
1457  2918  114270.882812
1458  2919  216138.593750

[1459 rows x 2 columns]

Score: 0.13385

In [ ]:
svr_reg.fit(X_train,y_train)
y_pred = np.exp(svr_reg.predict(X_test)).round(2)
submit_test = pd.concat([test['Id'],pd.DataFrame(y_pred)], axis=1)
submit_test.columns=['Id', 'SalePrice']
submit_test.to_csv('sample_submission.csv', index=False)
submit_test

        Id  SalePrice
0     1461  115927.65
1     1462  165914.95
2     1463  185660.96
3     1464  196358.54
4     1465  195182.56
...    ...        ...
1454  2915   89838.72
1455  2916   80009.78
1456  2917  167789.82
1457  2918  123389.49
1458  2919  218511.32

[1459 rows x 2 columns]

Score: 0.12581 (best)

## **Model Save**

In [ ]:
import pickle

pickle.dump(svr_reg, open('model_house_price_prediction.csv', 'wb'))
model_house_price_prediction = pickle.load(open('model_house_price_prediction.csv', 'rb'))
model_house_price_prediction.predict(X_test)

array([11.66072156, 12.01923057, 12.1316775 , ..., 12.03046738,
       11.72310123, 12.29459311])